<%= form_for(@real_quiz) do |f| %>
  <% if @real_quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@real_quiz.errors.count, "error") %> prohibited this real_quiz from being saved:</h2>

      <ul>
      <% @real_quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quiz_name %><br>
    <%= f.text_field :quiz_name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
